<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Multiple Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Multiple Video Footages</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="videoInput" name="videos" accept="video/*" multiple required>
            <button type="submit">Upload Videos</button>
        </form>
        <div id="result"></div>
        <video><source src='runs/detect/predict11/youtube_xm5YYY-4Dp8_720x1280_h264.avi' type="video/avi"></video>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>